.footer-container {

    
}


footer {
    max-width: 250px;
    height: 50px;
    margin: auto;
    padding: 10px;    
}

footer > div {
    font-size: medium;
    cursor: pointer;
    font-weight: 100;
    width: 50px;
}

footer > div:hover {
    font-weight: 500;
}




.activelink {
    font-weight: 400;
}