footer {
    max-width: 350px;
    height: 50px;
    margin: auto;
    padding: 10px;    
}

.menu-link {
    text-align: center;
    cursor: pointer;
    font-weight: 200;
    width: 100px;
    transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.active-menu-link {
    font-size: x-large;
}