<div class="promo-container" fxLayout="row" >

<mat-card>
    <mat-card-header>
        <mat-card-title>Pakiet START</mat-card-title>
        <mat-card-subtitle>Twoja firma w Internecie</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/promo/newId_pakietStart.png" alt="NewId - Paket Start">
    <mat-card-content>
    
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button routerLink="/promo/pakiet-start">Zobacz szczegóły</button>
    </mat-card-actions>
</mat-card>


</div>