.pakiet-start-container {
    min-height: 100vh;
    min-width: 100vw;
    
}

p {
    text-indent: 0.5em;
}

.pakiet-start-block-1 {
    background-color: var(--paleta-col-4);
}

.pakiet-start-block-2 {
    background-color: var(--paleta-col-2);
}

.pakiet-start-block-3 {
    background-color: var(--paleta-col-5);
}

.empty-line {
    height: 7px;
}


.pakiet-start-block-content {
    max-width: 650px;
    margin: auto;
    padding: 15px;
}


.pakiet-start-info {
    padding: 15px;
    color: white;
}

.pakiet-start-cena {
    margin-top: -25%x;
}