<div fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="center center">
    <section>
      <div class="logo-container">
        <img
          fxFlex.gt-sm="100"
          class="logo-image"
          src="/assets/svg/newId_logo.svg"
          alt="newID logo"
        />
      </div>
    </section>
    <section>
      <div
        class="title-container"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <div class="subtitle">What the f?</div>
        <div class="title">--- Nowa tożsamość ---</div>
      </div>
    </section>
  </div>

  <section>
    <div class="socials">
      <app-social-links></app-social-links>
    </div>
  </section>
</div>
