.home-container {
    position: relative;
    height: calc(100vh - 50px);
}

.logo-container {
    margin: auto;
    max-height: 800px;
    max-width: 800px;
}

.logo-image {
    min-width: 250px;
    width: 100%;
    transform: scale3d(1, 1, 1);
    transition: all 2.35s;
}

.logo-image:hover {
    transform: scale3d(1.05, 1.05, 1);
}


.socials {
    max-width: 300px;
    max-height: 75px;
    width: 100%;
    margin: auto;
    margin-top: 2em;
    position: relative;
}

.socials::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 70%;
    margin-left: 15%;
    border-top: double 1px white;
}

@media screen and (min-width: 680px) {
    .logo-image {
        min-width: 650px;
        width: 100%;
    }
  }


  .title-container {
      padding: 1em;

  }

  .title-container:hover  .title {
    background-color: black;
    color:white;
    transform: rotate3d(1, 0, 0, 360deg);
  }

  .title-container:hover .subtitle {
    background-color: white;
    color:black;
    transform: rotate3d(1, 0, 0, 360deg);
  }


  .title, .subtitle {
      text-transform: uppercase;
  }

  .subtitle {
    background-color: black;
    font-size: smaller;
    color: white;
    text-align: center;
    transform: rotate3d(1, 0, 0, 0deg);
    transition: all 0.5s ease-in-out 0.15s; 
  }

  
  .title {
      position: relative;
      background-color: white;
      
      padding:0.5em;
      font-size: larger;
      font-weight: 600;
      transform: rotate3d(1, 0, 0, 0deg);
      transition: all 0.5s ease-in-out; 
      text-align: center;


  }


  
svg path {
    fill: none;
    stroke: black;
    stroke-width: 0.02px;
}

svg:hover path{
    stroke: white;
    stroke-width: 0.1px;
}