<!-- <div appViewportFixer class="home-container">

        <div class="logo">
            <img class="logo-image" src="/assets/svg/newId_logo.svg" alt="newID logo">
        </div>
        

        <div class="socials">
            <app-social-links></app-social-links>
        </div>
</div> -->




<div fxLayout="column" class="home-container">
    <div fxLayout="column" fxLayoutAlign="center center">
        <section>
            <div class="logo-container">
                <img fxFlex.gt-sm="100" class="logo-image" src="/assets/svg/newId_logo.svg" alt="newID logo">
            </div>
        </section>
        <section>
            <div class="title-container" fxLayout="column" fxLayoutAlign="center stretch">
                <div class="subtitle">
                    Nowa tożsamość Twojej firmy
                </div>
                <div class="title">
                    Agencja marketingowa
                </div>
            </div>

        </section>
    </div>

    <section>
        <div class="socials">
            <app-social-links [delayFullTime]="400" [delayTimeout]="3000"></app-social-links>
        </div>
    </section>

</div>