a:link {
    color: white;
    font-size: smaller;
}

.kaczy-container {
    background-color: #2C3C58;
    color: white; 
}

.kaczy-content {
    margin: auto;
    max-width: 960px;
    padding: 1em;
}

h1 {
    margin-top: 20px;
    margin-bottom: 1em;
}


.img-container {
    margin: 10px;
}