<div class="contact-container">
  <section>
    <img class="img-logo" src="assets/svg/newId_logo.svg" alt="newId logo" />
  </section>

  <section>
    <p>Poznań</p>
    <p>
      <a routerLink="tel:+48xxxxxxxxx">
        <span style="font-size: smaller">+48</span>&nbsp;<span
          style="font-size: x-large"
          >xxx xxx xxx</span
        >
      </a>
    </p>
    <p>
      <a routerLink="mailto:info@newId.pl"> info@newId.pl </a>
    </p>
  </section>

  <br />
  <section>
    <div class="contact-footer"></div>
  </section>
</div>
