.pakiet-start-container {
    min-height: 100vh;
    min-width: 100vw;
}


p {
    text-indent: 0.5em;
}

.pakiet-start-block-content {
    max-width: 650px;
    margin: auto;
    padding: 15px;
}


.pakiet-start-info {
    padding: 15px;
    color: white;
}

.pakiet-start-cena {
    margin-top: -25%x;
}

