<div class="pakiet-start-container">
    <div class="pakiet-start-block-1">
        <div class="text-block">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 1080 1080" preserveAspectRatio="xMidYMid meet">
                <image x="0" y="0" width="100%" height="100%" xlink:href="../../../../assets/svg/promocje/promocja-start/pakiet-start.svg" preserveAspectRatio="xMidYMid meet"></image>
            </svg>
            <div class="pakiet-start-info default-text">
                <p>
                    Twoja nowo otwarta firma musi pojawić się w sieci a nie masz czasu się tym zająć ? 
                </p>
                <p>
                    Proponujemy gotowe rozwiązanie dla zaczynających własna działalność !
                </p>
                <p>
                    Wszystko co potrzebujesz by Twoja marka zaczęła pracować na Ciebie.
                </p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 1080 1080" preserveAspectRatio="xMidYMid meet">
                <image x="0" y="0" width="100%" height="100%" xlink:href="../../../../assets/svg/promocje/promocja-start/nowoczesny-profil.svg" preserveAspectRatio="xMidYMid meet"></image>
            </svg>

        </div>
    </div>

    
    <div class="pakiet-start-block-2">
        <div class="empty-line">&nbsp;</div>
    </div>


    <div class="pakiet-start-block-3">
        <div class="text-block">
            <div class="pakiet-start-info default-text">
                <p>
                    Skuteczne pozycjonowanie, odpowiednia domena, profesjonalnie przygotowane profile społecznościowe fb/insta. 
                </p>
                <ul>
                    <li>profil firmowy google</li>
                    <li>google maps</li>
                    <li>profesjonalna poczta G-Suite</li>
                    <li>Pierwsza kampania reklamowa google</li>
                    <li>narzędzia do analizy i kontroli</li>
                    <li>firma w smartfonie</li>
                </ul>
                <p>
                    Najważniejszym atutem tej oferty są przede wszystkim konstultacje; Informacje, skuteczne sugestie, zalecenia jak SAMODZIELNIE kontynuować pracę nad profilem. Potrzebujesz tylko narzędzi i odpowiednich wskazówek jak z nich korzystać ? <br/>Ta oferta kierowana jest właśnie dla Ciebie !
                </p>
            </div>
        </div>
    </div>

    <div class="pakiet-start-block-2">
        <div class="empty-line">&nbsp;</div>
    </div>



    <div class="pakiet-start-block-1">
        <div class="">
            <div class="pakiet-start-info default-text">

            </div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 1080 540" preserveAspectRatio="xMidYMid slice">
                
                <image x="-450" y="-300" width="200%" height="200%" xlink:href="../../../../assets/svg/newId_logo_white.svg" ></image>
                <image x="-1000" y="0" width="200%" height="200%" xlink:href="../../../../assets/svg/promocje/promocja-start/strzalka.svg" ></image>
                
                <image class="click-here" routerLink="/promocje/pakiet-start-zamow" x="350" y="150" width="80%" height="80%" xlink:href="../../../../assets/svg/promocje/promocja-start/cena_2000.svg" ></image>
            </svg>

        </div>
        
    
    </div>

    <div class="bg-4">
        <app-promocje-zadzwon routerLink="/promocje/pakiet-start-zamow"></app-promocje-zadzwon>
    </div>
    






</div>
