/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';



:root {
    --default-font-color: black;
    --paleta-col-1: #D92579;
    --paleta-col-2: #D25EF2;
    --paleta-col-3: #39BF24;
    --paleta-col-4: #F2CB05;
    --paleta-col-5: #D98E04;
}

* {
    font-family: Raleway;
}

body {
    margin: 0px;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* unvisited link */
a {
    text-decoration: none;
}
a:link {
    color: var(--default-font-color);
  }
  
  /* visited link */
  a:visited {
    color: var(--default-font-color);
  }
  
  /* mouse over link */
  a:hover {
    /* color: var(--paleta-col-1); */
    color: white
  }




p:focus, div:focus { 
    outline: none; 
}

html, body { height: 100%; }
body { 
    margin: 0; 
    /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
}




.bg-1 {
    background-color: var(--paleta-col-1);
    border: none;
}
.bg-2 {
    background-color: var(--paleta-col-2);
    border: none;
}
.bg-3 {
    background-color: var(--paleta-col-3);
    border: none;
}
.bg-4 {
    background-color: var(--paleta-col-4);
    border: none;
}
.bg-5 {
    background-color: var(--paleta-col-5);
    border: none;
}



.component-container {
    position: relative;
    margin: auto;
    max-width: 1260px; 
}

.header-footer-container {
    width: 100%;
}
.header-footer {
    margin: auto;   
    max-width: 300px;
    width: 100%;
    height: 100%;
    padding: 10px;    
}

.img-shadow {
    box-shadow: none;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.img-shadow:hover {
    box-shadow: 0 0 20px #333333;
}


.pointer {
    cursor: pointer;
}


.text-block {
    /* padding-top: 2em;
    padding-bottom: 2em; */
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
}


.text-duzy {
    display: inline-block;
    font-size: larger;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 0.2em;
}

.text-underline {
    text-decoration: underline;
    text-underline-position: below;
}

.router-link {
    cursor: pointer;    
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: larger;
}

.router-link:hover {
    color: var(--paleta-col-1);
}



.svg-click {
    fill: none;
    stroke-width: 2;
    stroke: azure;
}

.yt-player-fullsize {
    margin: auto;
    width: 100%;
    max-width: 960px;
}


@media screen and (min-width: 900px)  {
    
    .text-block {
        column-count: 2;
        max-width: 960px;
        padding-top: 1em;
        padding-bottom: 1em;

    }

}