/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';



:root {
    --default-font-color: black;
    --paleta-col-1: #D92579;
    --paleta-col-2: #D25EF2;
    --paleta-col-3: #39BF24;
    --paleta-col-4: #F2CB05;
    --paleta-col-5: #D98E04;
}


* {
    font-family: Raleway;
}

body {
    margin: 0px;
}


/* unvisited link */
a {
    text-decoration: none;
}
a:link {
    color: var(--default-font-color);
  }
  
  /* visited link */
  a:visited {
    color: var(--default-font-color);
  }
  
  /* mouse over link */
  a:hover {
    color: var(--paleta-col-1);
  }




p:focus, div:focus { 
    outline: none; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.click-here {
    cursor: pointer;
}

.text-block {
    max-width: 960px;
    margin: auto;
    /* padding-top: 2em;
    padding-bottom: 2em; */

    padding: 2em;
}


.text-duzy {
    display: inline-block;
    font-size: larger;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 0.2em;
}

.text-underline {
    text-decoration: underline;
    text-underline-position: below;
}

.default-text {
    font-size: calc(1vw + 1vh + 1vmin);
}

.router-link {
    cursor: pointer;
    
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.router-link:hover {
    color: var(--paleta-col-1);
}


.bg-1 {
    background-color: var(--paleta-col-1);
    border: none;
}
.bg-2 {
    background-color: var(--paleta-col-2);
    border: none;
}
.bg-3 {
    background-color: var(--paleta-col-3);
    border: none;
}
.bg-4 {
    background-color: var(--paleta-col-4);
    border: none;
}
.bg-5 {
    background-color: var(--paleta-col-5);
    border: none;
}



.svg-click {
    fill: none;
    stroke-width: 2;
    stroke: azure;
}