<div class="zamow-container">


    <svg class="text-block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 1080 1080" preserveAspectRatio="xMidYMid meet">
        <image x="0" y="0" width="100%" height="100%" xlink:href="../../../../assets/svg/promo/promocja-start/wykrzyknik.svg" preserveAspectRatio="xMidYMid meet"></image>
    </svg>

    <div class="text-block default-text">
        <div>
            Skontaktuj się z nami, 
        </div>
        
    </div>

</div>
