.obsluga-container {
    position: relative;
}
.center-container {
    margin: auto;
    max-width: 1000px;
}

.text-white {
    color: white;
}
ul {
    font-size: smaller;
}

li {
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    text-transform: capitalize;
}

.obsluga-informatyczna-title-container {
    position: absolute;
    right: 20px;
    top: 35%;

}
.obsluga-informatyczna-title {
    /* fill: var(--paleta-col-1); */
    fill: white;
    font-weight: 600;
    font-family: "Raleway";
    
}

.cutout-container {
    position: relative;
    display: block;
    margin: 0;
}

.cutout{
    position: relative;
    top: 50%;
    left: 0;
}

.cutout-left {
    position: absolute;
    top: 0;
    width: 60%;
    height: 100%
}
.cutout-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%
}

.msc {
    font-family: "Raleway";
    font-weight: 400;
    fill: var(--paleta-col-3);
}


.re-kla-ma {
    font-family: "Raleway";
    font-weight: 200px;
    fill: var(--paleta-col-4);
}

.pro-mo-cje {
    font-family: "Raleway";
    font-weight: 200px;
    fill: var(--paleta-col-4);
}









.def1 {
    fill: none;
    stroke: black;
    stroke-width:2px;
}
.part01{
    stroke-dasharray: 3087;
    stroke-dashoffset: 3087; 
    animation: dashFirstPerson 5s linear forwards; 
}

.part02{
    stroke-dasharray: 922;
    stroke-dashoffset: 922; 
    animation: dashFirstPerson 5s linear forwards; 
}

.part03{
    stroke-dasharray: 184;
    stroke-dashoffset: 184; 
    animation: dashFirstPerson 5s linear forwards; 
}

.part04 {
    stroke-dasharray: 1902;
    stroke-dashoffset: 1902; 
    animation: dashFirstPerson 5s linear forwards; 
}    

.part05 {
    stroke-dasharray: 525;
    stroke-dashoffset: 525; 
    animation: dashFirstPerson 5s linear forwards; 
}      
.part06 {
    stroke-dasharray: 450;
    stroke-dashoffset: 450; 
    animation: dashFirstPerson 5s linear forwards; 
}   

@keyframes dashFirstPerson {
    to {
            stroke-dashoffset: 0;
    }
}




.youtube-player-bg {
    position: relative;
}

.youtube-player-bg::before {
    position: absolute;
    z-index: 0;
    content: "";
    background-color: antiquewhite;
    width: 110%;
    height: 110%;
    top:-5%;
    left: -5%;

}

